<div class="container py-5">
    <div class="row justify-content-start">
        <div class="col-lg-8 text-center text-lg-start">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                style="border-color: rgba(256, 256, 256, .3) !important;">
                ReArt Ajans
            </h5>
            <h1 style="color:#FFFFFF" class="display-1 mb-md-4">Siz Hayal Edin, Biz Tasarlayalım..</h1>
            <div class="pt-2">
                <a href="#!" style="color:rgb(19, 197, 221)" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">E-Mağaza</a>
                
            </div>
        </div>
    </div>
</div>