<div class="container py-4 py-md-5">
    <div class="row g-5 justify-content-center d-flex">
        @await Component.InvokeAsync("FooterAddress") @*FooterAdress*@
        @await Component.InvokeAsync("FooterNavbar") @*FooterNavbar*@
        @await Component.InvokeAsync("FooterSocialLinks") @*FooterSocialLinks*@
    </div>
</div>