<div class="col-lg-3 col-md-6">
    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
        Lİnkler
    </h4>
    <div class="d-flex flex-column justify-content-start">
        <a class="text-light mb-2" href="/Home/index"><i class="fa fa-angle-right me-2"></i>Anasayfa</a>
        <a class="text-light mb-2" href="/MapIdentityDescriptionController/index"><i class="fa fa-angle-right me-2"></i>Harita Nedir?</a>
        <a class="text-light mb-2" href="/Category/index"><i class="fa fa-angle-right me-2"></i>Haritalarımız</a>
        <a class="text-light" href="/contact/index"><i class="fa fa-angle-right me-2"></i>İletişim</a>
    </div>
</div> 