@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/UI/Index.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="border-color: rgba(256, 256, 256, .3) !important;">
                    ReArt Ajans
                </h5>
                <h1 class="display-1 text-white mb-md-4">Sizin Rotanız, Bizim Sanatımız</h1>
                <div class="pt-2 px-2">
                    <a href="/Contact/index" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Fikirlerinizi Paylaşın</a>

                    <div class="position-relative d-inline-block mx-2">
                        <a href="#!" class="btn btn-outline-light rounded-pill py-md-3 px-md-4 mx-2 disabled">E-Ticaret Mağazamız</a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.7rem; z-index: 1;">
                            Yakında
                        </span>
                    </div>
                    <div class="position-relative d-inline-block">
                        <a href="#!" class="btn btn-outline-light rounded-pill py-md-3 px-md-4 mx-2 disabled">Reart Production</a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.7rem; z-index: 1;">
                            Yakında
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- About Start -->
@await Component.InvokeAsync("HomeAbout") @*About*@
<!-- About End -->

<!-- Pricing Plan Start -->
@await Component.InvokeAsync("HomeFavoriteMaps") @*FavoriteMaps*@
<!-- Pricing Plan End -->

<!-- İletişim Start -->
@await Component.InvokeAsync("HomeContact") @*Contact*@
<!-- İletişim End -->

<!-- Team Start -->
@await Component.InvokeAsync("HomeCategoryList") @*Categories*@
<!-- Team End -->

<!-- Work Process Start -->
@await Component.InvokeAsync("HomeWorkProcess") @*WorkProcess*@
<!-- Work Process End -->